<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Campus Connect</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">

    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Campus Connect</a>

          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
        </div>
      </div>

    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Let's get started.</h1>
        <p>Campus Connect is a way for students at the University of Nebraska-Lincoln to become more involved on campus. Rather than searching for hours on the confusing interfaces of unl.edu or myred.unl.edu, simply search for available clubs and organizations below. Confused? Click the box below for frequently asked questions pertaining to this project. Help us help you!</p>
        <p><a class="btn primary large" href="/question/">Questions? &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span6">
          <h2>Search by Club</h2>
          <p><a class="btn" href="/club/">Get involved &raquo;</a></p>

        </div>
        <div class="span5">
          <h2>Search by Major</h2>
          <p><a class="btn" href="/major/">Get involved &raquo;</a></p>
       </div>
        <div class="span5">

          <h2>Search by College</h2>
          <p><a class="btn" href="/college/">Get involved &raquo;</a></p>
        </div>
      </div>

      <footer>
        <p>&copy; Brandi Slobodnik 2011</p>

      </footer>

    </div> <!-- /container -->

  </body>
</html>
