{% extends "internal_base.html" %}

{% block header %}
<!-- Remember, get queries do not need a loop -- no for object in stuff -->
           <h1>{{ major.name }}</h1>
           <small>Look below for more clubs pertaining to {{ major.name }}.</small>
{% endblock %}


{% block list %}
<h2>Clubs for {{ major.name }}</h2>

<!-- This is how you do a loop for a filter query -->
<ul>{% for object in clubs %}
<li><a href="{{object.get_absolute_url}}">{{ object.name }}</a></li>
{% endfor %}</ul>

{% endblock %}
